.container {
  display: flex;
  gap: 8px;
  font-size: 0.75rem;
  align-items: center;
  cursor: pointer;
}
.container label {
  cursor: pointer;
}
.switchContainer {
  background-color: lightgray;
  width: 45px;
  padding: 2px;
  border-radius: 100vw;
  position: relative;
  transition: all 0.25s ease;
}
.ball {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: white;
  transition: all 0.25s ease;
}
.switchContainer[data-checked="true"] {
  background-color: var(--primary-color);
}
.switchContainer[data-checked="true"] .ball {
  transform: translateX(110%);
}
.switchContainer input {
  display: none;
}
